
$menu-drop-rate: 0.3s; // maximum 0.5s
$menu-drop-height: 400px;

$header-height: 100px;
$menu-tab-height: $header-height;
$page-content-height: 70vh;

$logo-height: 50px;
$btn-height: $logo-height;

